@import "./test";
@import "./header.styles";
@import "./hero.styles";
@import "./content.style";
@import "./footer.style";
@import "./_tectpro.style";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

html {
  height: "100%";
  width: "100%";
}

body {
  background-color: #f4f6f8;
  height: "100%";
  width: "100%";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

br {
  display: block;
  margin: 10px 0;
}

li {
  cursor: pointer;
}

.hover {
  &:hover {
    opacity: 0.8;
  }
}
